@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');




* {
  
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
  }
  
  
  
  body {
    font-weight: bolder;
    font-size: medium;
    font-family: "Poppins";
    background-color: #0b0c0cf6;
    font-size: 18px;
    color: rgb(184, 169, 86);
    line-height: 1.6;
    
  }

.container{
  text-align: center;


}

h6{
  margin-top: 4cm;
}
    

table,

td {
 
    border: 2px solid #333;
    
}

thead,
tfoot {
   
  
    background-color: #333;
    color: #fff;
}


.container {
  max-width: 600px;
  margin: auto;
  height: 90h;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





a{
  color: rgb(121, 212, 133);
}


table.center{
  margin-top: auto;
  text-align: center;
  margin-bottom: 3cm;
  margin-left: auto;
  margin-right: auto;
}

.home{
  margin-bottom: auto;
  margin-top: 4cm;
}

table{
  color: bisque;
}